/****************************/
/* Copyright 2023.
/* Owners: Jakub Banasiewicz, Patryk Kubik.
/* Permission granted for Zespół Szkoł im. Stanisława Staszica Koszarowa 7 28-200 Staszów, Poland.
/* More info inside LICENSE file.
/****************************/

:root {
    font-family: 'Inter', sans-serif;
    --icon: #9BA3EB;
    --card-bg: #646FD4;
    --card-h1: white;
    --main-bg: #DBDFFD;
    --card-shadow: #6168ac;
    --code-input-bg: rgba(255, 255, 255, 0.815);
    --input-placeholder: rgb(46, 46, 46);
    --btn: rgb(255, 255, 255);
    --btn-hover: rgba(255, 255, 255, 0.8);
    --error: rgb(255, 139, 139);
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg)
}
.card {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: var(--card-bg);
    -webkit-box-shadow: 0px 0px 13px -1px var(--card-shadow);
    -moz-box-shadow: 0px 0px 13px -1px var(--card-shadow);
    box-shadow: 0px 0px 13px -1px var(--card-shadow);
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: auto;
    gap: 100px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: center;
}
.header > span {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    color: var(--card-h1)
}
svg {
    font-size: 64px;
    color: var(--icon);
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}
#input-wrapper{
    display: flex;
    gap: 10px;
}
.code-input {
  font-family: 'Inter', sans-serif;
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: 800;
  border-radius: 12px;
  border: 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .code-input {
  width: 25px;
  height: 25px;
  font-size: 18px;
  }
}
.login-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--btn);
}
.login-btn:hover {
    background-color: var(--btn-hover);
}
#error-label {
    color: var(--error);
    font-weight: 600;
}






/*Loading*/
.lds-ring {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 4px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }











  #about {
    z-index: 0;
    bottom: 5px;
    right: 5px;
    position: absolute;
    color: gray;
    cursor: pointer;
  }