/****************************/
/* Copyright 2023.
/* Owners: Jakub Banasiewicz, Patryk Kubik.
/* Permission granted for Zespół Szkoł im. Stanisława Staszica Koszarowa 7 28-200 Staszów, Poland.
/* More info inside LICENSE file.
/****************************/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-family: "Inter", sans-serif;
  --icon: #9ba3eb;
  --card-bg: #646fd4;
  --card-shadow: #6168ac;
  --card-h1: white;
  --main-bg: #dbdffd;
  --component: rgb(158, 166, 226);
  --component-hover: rgb(148, 163, 255);
  --code: rgb(228, 229, 240);
  --squares: rgba(228, 229, 240, 0.808);
  --status-text-active: rgb(77, 92, 253);
  --status-text-inactive: rgba(99, 104, 143, 0.973);
  --btn: rgb(155, 163, 235);
  --btn-hover: rgb(119, 127, 201);
  --btn-destructive: rgb(255, 99, 60);
  --btn-destructive-hover: rgb(199, 83, 54);
  --blue-shadow: rgba(0, 0, 0, 0.274);
  --link: rgb(130, 128, 255);
  --link-hover: rgba(130, 128, 255, 0.801);
  --error: rgb(255, 139, 139);
  --hint: rgb(165, 165, 165);
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--main-bg);
  align-items: center;
}
#container {
  height: 700px;
  width: 600px;
  background-color: var(--card-bg);
  border-radius: 20px;
  padding-bottom: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 13px -1px var(--card-shadow);
  -moz-box-shadow: 0px 0px 13px -1px var(--card-shadow);
  box-shadow: 0px 0px 13px -1px var(--card-shadow);
}
#baner {
  display: flex;
  justify-content: space-between;
  color: var(--card-bg);
  align-items: center;
  background-color: white;
  height: 40px;
  padding: 25px;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.bi-mortarboard-fill {
  font-size: 40px;
  color: var(--icon);
}
p {
  font-size: 18px;
  font-weight: 600;
  user-select: none;
}
.buttons {
  display: flex;
  gap: 10px;
}
.add-btn {
  background-color: var(--btn);
  font-size: 30px;
}
.logout-btn {
  background-color: var(--btn-destructive);
  font-size: 24px;
}
.btn {
  height: 32px;
  width: 32px;
  border-radius: 10px;
  color: white;
  padding: 4px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}
.school-btn{
  background-color: #7EA8F8;
}
.school-btn:hover{
  background-color: #5891fc;
  transform: scale(1.1);
}
.school-btn-icon{
  font-size: 16px;
}
.logout-btn:hover {
  background-color: var(--btn-destructive-hover);
  transform: scale(1.1);
}
.add-btn:hover {
  background-color: var(--btn-hover);
  transform: scale(1.1);
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 615px;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  scrollbar-width: thin;
  user-select: none;
}
.school-list{
  width: 700px;
  background-color: white;
  border-radius: 20px;
  cursor: default;
}
.add-school-btn{
  width: fit-content;
  height: auto;
  background-color: var(--card-bg);
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  justify-content: left;
  align-self: left;
  align-items: left;
  user-select: none;
  margin-bottom: 2px;
}
.add-school-btn:hover{
  background-color: var(--btn-hover);
}
svg:hover{
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
.delete-school-btn{
  width: fit-content;
  height: auto;
  background-color: red;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  justify-content: left;
  align-self: left;
  align-items: left;
  user-select: none;
  margin-bottom: 2px;
}
.delete-school-btn:hover{
  background-color: rgb(146, 34, 34);
}
.delete-grade-btn{
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}
.delete-grade-btn:hover{
  background-color: rgb(146, 34, 34);
}
.school-list-content {
  padding: 25px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 6px;
}
.new-school-form{
  width: 700px;
  background-color: white;
  border-radius: 20px;
  cursor: default;
}
.course {
  display: flex;
  flex: 0;
  flex-direction: column;
  color: white;
  width: 90%;
  height: 100px !important;
   max-height: 100px !important;
  background-color: var(--component);
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.course:hover {
  background-color: var(--component-hover);
  transform: scale(1.02);
}
.course-name {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.squares {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  align-items: center;
}
.code {
  border: solid 1px var(--code);
  border-radius: 4px;
  padding: 2px;
  font-size: 14px;
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: 600;
}
.date {
  border: solid 1px var(--squares);
  border-radius: 4px;
  padding: 2px;
  font-size: 14px;
  display: flex;
  align-items: center;
  align-content: center;
}
.status {
  border: solid 1px var(--squares);
  border-radius: 4px;
  padding: 2px;
  display: flex;
  align-items: center;
  align-content: center;
}
.status-text {
  font-size: 14px;
  font-weight: 600;
  color: var(--status-text-active);
}

/*Curtain*/
.curtain {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  cursor: not-allowed;
}
.new-course-form {
  width: 700px;
  min-height: 650px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  cursor: default;
  user-select: none;
}
.new-course-form-header {
  height: 35px;
  padding: 22px;
  background-color: rgb(100, 111, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: relative;
  font-size: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.new-course-form-header > svg {
  font-size: 26px;
  opacity: 0.7;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.new-course-form-header > svg:hover {
  opacity: 1;
}
.new-course-form-content {
  padding: 25px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.new-course-form-content-info-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 202, 255);
    border-radius: 12px;
    padding: 15px;
    gap: 14px;
    align-items: center;
  }
h4 {
  margin: 0;
  margin-bottom: 18px;
  color: var(--hint);
  font-weight: 500;
}
.course-name-set {
  color: var(--status-text-active);
  font-weight: 600;
}
.new-course-form-content-input,
.new-course-form-content-date-input {
  font-family: "Inter", sans-serif;
  width: 300px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid gray;
  font-size: 14px;
  font-weight: 500;
}
.new-course-form-content-date-input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
textarea {
  font-family: "Inter", sans-serif;
  resize: vertical;
  width: 300px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid gray;
  font-size: 14px;
  font-weight: 500;
  min-height: 50px;
  max-height: 100px;
}
::placeholder {
  color: gray;
  opacity: 1;
}
:-ms-input-placeholder {
  color: gray;
}
::-ms-input-placeholder {
  color: gray;
}
.new-course-form-content-date-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 202, 255);
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
}
.new-course-form-content-date-wrapper > label {
    font-size: 14px;
}
/*Error*/
#error-label {
  color: var(--error);
  font-weight: 600;
  margin-bottom: 10px;
}
#content > #error-label {
  margin-top: 50px;
}
#error-label-addgrade {
  color: var(--error);
  font-weight: 600;
  margin-bottom: 10px;
}
.add-course-btn {
  height: auto;
  width: auto;
  background-color: var(--btn);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.add-course-btn:hover {
    background-color: var(--btn-hover);
}

/*Add participant*/
.new-participant-form {
  width: 700px;
  min-height: 650px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  cursor: default;
  user-select: none;
}
.new-participant-form-header {
  height: 35px;
  padding: 22px;
  background-color: rgb(100, 111, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: relative;
  font-size: 20px;
}
.new-participant-form-header > svg {
  font-size: 26px;
  opacity: 0.7;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.new-participant-form-header > svg:hover {
  opacity: 1;
}
.new-participant-form-content {
  padding: 25px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.new-participant-form-content-info-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 202, 255);
    border-radius: 12px;
    padding: 15px;
    gap: 14px;
    margin-bottom: 10px;
  }
.new-participant-form-content-input,
.new-participant-form-content-date-input {
  font-family: "Inter", sans-serif;
  width: 300px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid gray;
  font-size: 14px;
  font-weight: 500;
}
.new-participant-form-content-date-input {
  color: gray;
  margin-top: -5px;
}
textarea {
  font-family: "Inter", sans-serif;
  resize: vertical;
  width: 300px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid gray;
  font-size: 14px;
  font-weight: 500;
  min-height: 50px;
  max-height: 100px;
}
.new-participant-form-content-info-wrapper > label {
    font-size: 14px;
}
.add-participant-btn {
  height: auto;
  width: auto;
  background-color: var(--btn);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.add-participant-btn:hover {
    background-color: var(--btn-hover);
}
/*Error*/
#error-label {
  color: var(--error);
  font-weight: 600;
  margin-bottom: 10px;
}
#content > #error-label {
  margin-top: 50px;
}
.add-course-btn {
  height: auto;
  width: auto;
  background-color: var(--btn);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.add-course-btn:hover {
    background-color: var(--btn-hover);
}




/*Course details*/
.course-details {
    width: 80%;
    min-height: 700px;
    border-radius: 20px;
    background-color: var(--card-bg);
    padding-bottom: 25px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 13px -1px var(--card-shadow);
    -moz-box-shadow: 0px 0px 13px -1px var(--card-shadow);
    box-shadow: 0px 0px 13px -1px var(--card-shadow);
    margin-top: 40px;
    margin-bottom: 40px;
}
.course-details-header {
    display: flex;
    color: var(--card-bg);
    background-color: white;
    min-height: 40px;
    padding: 25px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.course-details-header > svg {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 26px;
    cursor: pointer;
    opacity: 0.7;
    color: var(--card-bg);
    position: absolute;
    top: 25px;
    right: 25px;
}
.course-details-header > svg:hover {
    opacity: 1;
}
.course-details-header-wrapper {
    display: flex;
    gap: 7px;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
b {
    font-weight: 700;
}
.course-details-header-squares {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}
.course-details-header-squares > span {
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.course-details-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 25px;
    scrollbar-width: thin;
    gap: 30px;
}
.course-details-content-section {
  background: white;
  border-radius: 12px;
  padding: 14px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.course-details-content-section > h2 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 0px;
}
.course-details-content-section > .btn {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: var(--card-bg);
}
.course-details-content-section-btn {
  height: auto;
  width: fit-content;
  background-color: var(--card-bg);
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.course-details-content-all-participants-btn{
  height: auto;
  width: fit-content;
  background-color: var(--card-bg);
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.course-details-content-all-participants-btn:hover{
  background-color: var(--btn-hover);
}

.course-details-content-empty-certificate-btn{
  height: auto;
  width: fit-content;
  background-color: var(--card-bg);
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.course-details-content-empty-certificate-btn:hover{
  background-color: var(--btn-hover);
}
.add-subject-btn {
  height: auto;
  width: fit-content;
  background-color: var(--card-bg);
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.add-subject-btn:hover {
  background-color: var(--btn-hover);
}
.course-delete-btn{
  height: auto;
  width: fit-content;
  background-color: red;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.course-delete-btn:hover{
  background-color: rgb(146, 34, 34);
}
.subject-delete-btn{
  height: auto;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.subject-delete-btn:hover{
  background-color: rgb(146, 34, 34);
}
.participant-delete-btn{
  height: auto;
  width: fit-content;
  background-color: red;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.participant-delete-btn:hover{
  background-color: rgb(146, 34, 34);
}
.grayed-caption {
  color: rgb(141, 141, 141);
  color: rgba(0, 0, 0, 0.5);
}
.course-details-content-section-btn:hover {
  background-color: var(--btn-hover);
}
.course-details-add-grade-btn{
  height: auto;
  width: fit-content;
  background-color: var(--card-bg);
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.course-details-add-grade-btn:hover{
  background-color: var(--btn-hover);
}
.new-subject-form{
    width: 700px;
    min-height: 200px;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 25px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 13px -1px var(--card-shadow);
    -moz-box-shadow: 0px 0px 13px -1px var(--card-shadow);
    box-shadow: 0px 0px 13px -1px var(--card-shadow);
    cursor: default;
}
.new-subject-form-content-info-wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 202, 255);
    border-radius: 12px;
    padding: 15px;
    margin-top: 50px;
    gap: 14px;
    margin-bottom: 10px;
}
.add-new-subject-form-btn{
  height: auto;
    width: auto;
    background-color: var(--btn);
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.add-new-subject-form-btn:hover {
  background-color: var(--btn-hover);
}

/*Participant details*/
.participant-details {
    width: 80%;
    min-height: 700px;
    border-radius: 20px;
    background-color: var(--card-bg);
    padding-bottom: 25px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 13px -1px var(--card-shadow);
    -moz-box-shadow: 0px 0px 13px -1px var(--card-shadow);
    box-shadow: 0px 0px 13px -1px var(--card-shadow);
}
.participant-details-header {
    display: flex;
    color: var(--card-bg);
    background-color: white;
    min-height: 40px;
    padding: 25px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.participant-details-header > svg {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 26px;
    cursor: pointer;
    opacity: 0.7;
    color: var(--card-bg);
    position: absolute;
    top: 25px;
    right: 25px;
}
.participant-details-header > svg:hover {
    opacity: 1;
}
.participant-details-header-wrapper {
    display: flex;
    gap: 7px;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.participant-details-header-squares {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}
.participant-details-header-squares > span {
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.participant-details-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 25px;
    scrollbar-width: thin;
    gap: 30px;
}
.participant-details-content-section {
  background: white;
  border-radius: 12px;
  padding: 14px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.participant-details-content-section > h2 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 0px;
}
.participant-details-content-section > .btn {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: var(--card-bg);
}
.participant-details-content-section-btn {
  height: auto;
  width: fit-content;
  background-color: var(--card-bg);
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.participant-details-content-section-btn:hover {
  background-color: var(--btn-hover);
}
.participant-details-add-grade-btn{
  height: auto;
  width: fit-content;
  background-color: var(--card-bg);
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.participant-details-add-grade-btn:hover{
  background-color: var(--btn-hover);
}


/*grade form*/
.new-grade-form  {
  width: 700px;
  min-height: 400px;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 13px -1px var(--card-shadow);
  -moz-box-shadow: 0px 0px 13px -1px var(--card-shadow);
  box-shadow: 0px 0px 13px -1px var(--card-shadow);
  cursor: default;
}
.new-grade-form-header {
  display: flex;
  color: white;
  background-color: var(--card-bg);
  min-height: 40px;
  padding: 25px;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.new-grade-form-header > svg {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.7;
  color: white;
  position: absolute;
  top: 25px;
  right: 25px;
}
.new-grade-form-header > svg:hover {
  opacity: 1;
}
.new-grade-form-header-wrapper {
  display: flex;
  gap: 7px;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.new-grade-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  margin-top: 50px;
  min-height: 250px;
}
.new-grade-form-wrapper{
  display: flex;
    flex-direction: column;
    background-color: rgb(197, 202, 255);
    border-radius: 12px;
    padding: 15px;
    gap: 14px;
    margin-bottom: 10px;
}
.new-grade-form-content-input{
  font-family: "Inter", sans-serif;
  width: 300px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid gray;
  font-size: 14px;
  font-weight: 500;
}
.new-grade-form-select{
  font-family: "Inter", sans-serif;
  width: 318px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid gray;
  font-size: 14px;
  font-weight: 500;
}
.new-grade-form-add-grade-btn{
  height: auto;
  width: auto;
  background-color: var(--btn);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  user-select: none;
}
.new-grade-form-add-grade-btn:hover{
background-color: var(--btn-hover);
}
.edit-grade-form-edit-btn{
  height: auto;
  width: auto;
  background-color: var(--btn);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  user-select: none;
}
.edit-grade-form-edit-btn:hover{
background-color: var(--btn-hover);
}
.edit-conduct-grade-form-edit-btn{
  height: auto;
  width: auto;
  background-color: var(--btn);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  user-select: none;
}
.edit-conduct-grade-form-edit-btn:hover{
background-color: var(--btn-hover);
}
.conduct-grade-box{
  display: flex;
  align-items: center;
  gap: 2px;
}
.conduct-grade{
  font-weight: 600;
  margin-left: 10px;
  font-size: 18px;
}
.conduct-grade-btn{
  width: fit-content;
  height: auto;
  padding: 5px;
  font-size: 14px;
  color: white;
  background-color: var(--card-bg);
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}
.conduct-grade-btn:hover{
  background-color: var(--btn-hover);
}
.new-conduct-grade-form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow-y: auto;
  margin-top: 50px;
}
.new-conduct-grade-form-wrapper{
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 202, 255);
  border-radius: 12px;
  padding: 15px;
  gap: 14px;
  margin-bottom: 10px;
}
.new-conduct-grade-form-add-grade-btn{
  height: auto;
  width: auto;
  background-color: var(--btn);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  user-select: none;
}
.new-conduct-grade-form-add-grade-btn:hover{
background-color: var(--btn-hover);
}
/*Edit grade*/
.edit-grade-form{
  width: 700px;
  min-height: 400px;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 13px -1px var(--card-shadow);
  -moz-box-shadow: 0px 0px 13px -1px var(--card-shadow);
  box-shadow: 0px 0px 13px -1px var(--card-shadow);
  cursor: default;
}



table  {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7EA8F8;
  border-style: solid;
  color: #000000;
  text-align: center;
}

table td, table th {
  border-width: 2px;
  border-color: #7EA8F8;
  border-style: solid;
  padding: 10px !important;
}

table thead {
  background-color: #7EA8F8;
}
.download-certificate-btn{
  text-decoration: none;
  color: white;
  width: 40px;
  height: 10px;
  background-color: var(--card-bg);
  padding: 7px;
  border-radius: 10px;
  cursor:pointer;
  user-select: none;
}
.download-certificate-btn:hover{
  background-color: var(--link-hover);
}
.participant-edit-icon {
  font-size: 26px;
  width: 100%;
  transition: all 0.1s ease-in-out;

}
.participant-edit-icon:hover {
transform: scale(1.1);
}

.participant-grade-edit-icon{
  font-size: 20px;
  width: 100%;
  transition: all 0.1s ease-in-out;
}
.participant-grade-edit-icon:hover{
  transform: scale(1.1);
}

#empty-label {
  display: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-top: 50px;
}
/*Loading*/
.lds-ring {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid rgb(201, 201, 201);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(201,201,201) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}