/****************************/
/* Copyright 2023.
/* Owners: Jakub Banasiewicz, Patryk Kubik.
/* Permission granted for Zespół Szkoł im. Stanisława Staszica Koszarowa 7 28-200 Staszów, Poland.
/* More info inside LICENSE file.
/****************************/

body{
    font-size: 10pt;
}
.place-date{
    text-align: right;
}
h4{
    text-align: center;
}
.range-date{
    float: left;
    width: 170pt;
}
.turnus-name{
    float: left;
    text-align: right;
    margin-right: 30pt;
}
table{
    width: 100%;
    margin-top: 20pt;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5pt;
    text-align: center;
}
td{
    max-width: 100pt;
}