body{
    font-size: 8pt;
}
table{
    width: 100%;
    margin-top: 10pt;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.grade-text{
    float: left;
    width: 15%;
}
.grade-dots{
    float: left;
    border-bottom: 1px dotted black;
    width: 85%;
}
.footer{
    position: absolute;
    bottom: 10%;
    left: 7%;
}
.line{
    border-bottom: 1px solid black;
	width: 160pt;
	margin-bottom: 10pt;
}
.footer-text{
    margin-top: 20pt;
}